<ion-view ng-controller="NasaController">
  <ion-header-bar><a ng-href="#/settingsUrl">Settings</a><h1 class="title">Nasa Picture of the Day</h1></ion-header-bar>
  <ion-content>
    <div ng-repeat="pics in NasaInfoArr" >
    <div style="background:lightblue">
        <p style="color:blue">{{pics.title}}</p>
        <p style="color:blue">{{pics.date}}</p>
        <p>{{pics.explanation}}</p>
        <img ng-if="img" src="{{pics.url}}"></img>
        <iframe ng-if="video" src="{{pics.url}}"></iframe>
      </div>
    </div>
  </ion-content>
</ion-view>
